body {
    margin: 0;
    padding: 0;
  
}

header {
    
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#theme_btn {
    border: none; 
    font-size: 14px;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
  text-decoration: none;
}

nav li {
    text-align: center;
    flex-grow: 1;
    font-size: 150%;
}

h1, h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

#unisa_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    text-align: center;
    padding: 10px;
   
}

/* Default Light Theme */
:root {
  --primary-color: rgb(129, 129, 255); 
  --secondary-color: rgb(86, 86, 199); 
  --bg-color: rgb(162, 162, 255); 
  --font-color: black; 
  --heading-color: rgb(87, 16, 44); 
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-color: rgb(0, 0, 0); 
  --secondary-color: rgb(40, 40, 40);
  --bg-color: rgb(30, 30, 30); 
  --font-color: white; 
  --heading-color: rgb(255, 255, 255); 
}

/* Apply variables throughout the page */
body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

header, footer {
  background-color: var(--secondary-color);
}

h1, h2, h3 {
  color: var(--heading-color);
}
